#wrapper {background-color: aqua; width: 100vw; height: 100vh; display: flex; justify-content: center; align-items: center;}
#gameBox {background-color: blueviolet; width: 50vw; height: 50vh; border-style: solid;}
#playerNum {display: flex; background-color: brown; justify-content: space-evenly; align-items: center; height: 150px;}
img {width: 150px; height: 150px; border-style: solid;}
#board {height: 30vh; background-color: cadetblue; display: flex; justify-content: space-evenly; align-items: center;}
#player1Dice {display: none;}
#playerDice {display: block;}
#player2Dice {display: none;}
#solo {display: block;}
#rollSolo {display: none;}
#rollDuo {display: none;}
#player1H {display: none;}
#player2H {display: none;}
#playerH {display: block;}
#buttons {height: 40px; display: flex; justify-content: space-evenly; align-items: center;}
#duo {display: block;}
p {text-align: center; font-size: 20px;}
h3 {text-align: center; font-size: 25px;}
body {font-family: monospace;}
#player1H {border-style: solid; height: 100px; padding: 10px;}
#playerH {border-style: solid; height: 100px; padding: 10px;}
#player2H {border-style: solid; height: 100px; padding: 10px;}
